@charset "UTF-8";

// 共通 -------------------------------------------
html {
    font-size: 62.5%;  // 基準サイズ：10px
}
body {
    font-family: "Noto Sans JP",MyYuGothicM,YuGothic,-apple-system,BlinkMacSystemFont,"Hiragino kaku Gothic ProN",Meiryo,Verdana,arial,helvetica,sans-serif;
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 700;
    color: #121212;
    box-sizing: border-box;
    padding-top: 70px;
}
a {
    text-decoration: none;
    color: #131d34;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
    background: #2498b3;
    color: #fff;
}

// ヘッダー ---------------------------------------
.header {
    color: #131d34;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
}
.header-title {
    display: flex;
    align-items: center;
    img {
        width: 157px;
        height: 33px;
        margin-left: 21px;
    }
    p {
        margin-left: 16px;
        line-height: 1.3;
        font-weight: 900;
        font-size: 1.4rem;
        span {
            font-size: 1.8rem;
        }
    }
}
.global-nav {
    line-height: 70px;
    display: flex;
    a {
        display: block;
        padding: 0px 15px;
        height: 70px;
    }
}
.menu-drop,.menu-not-drop {
    &:hover,&:active {
        background-color: #d4f1f8;
    }
}
.has-menu {
    position: relative;
    &:hover .sub-menu {
        display: block;
    }
}
.sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    li {
        white-space: nowrap;   //自動折り返しなし
        font-weight: 400;
        height: 58px;
        line-height: 58px;
    }
    a {
        color: #131d34;
        background: #e9f8fb;
        padding-right: 58px;
        height: 58px;
        &:hover {
            color: #2498b3;
            background: #fff;
            transition: .3s;
        }
    }
}

// メイン -----------------------------------------
.info {
    height: 650px;
    background-size: auto,auto,cover;
    background-repeat: no-repeat;
    background-image: url(../images/bg-hero1.png),url(../images/bg-hero2.png),url(../images/bg-hero3.png);
    background-position: 50% 50%,50% 50%,50% 50%;
    background-attachment: scroll,scroll,fixed;
    position: relative;
}
.info-wrap {
    max-width: 413px;
    height: 327px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 43px 38px 19px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    img {
        width: 280px;
        height: 58.74px;
    }
    p {
        margin: 8px 0px 28px;
    }
    a {
        font-size: 1.8rem;
        display: inline-block;
        padding: 18px 37px;
        border-radius: 5px;
    }
}
.recommend {
    max-width: 65%;
    margin: 0 auto;
    position: absolute;
    top: 452px;
    left: 0;
    right: 0;
    ul {
        display: flex;
    }
    li {
        width: 33%;
        margin: 0 50px;
    }
    h2,p {
        color: #fff;
    }
    h2 {
        margin: 7px 0 6px;
        text-align: center;
    }
}
.icon-box {
    width: 230px;
    height: 230px;
    background: #fff;
    border: #000 solid 6px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 280px;
    i {
        font-size: 10rem;
        font-weight: 700;
    }
}
.area-black {
    height: 230px;
    background: #000;
}

// レスポンシブ対応
@media (max-width: 1261px) {
    .header-title>p {
        visibility:hidden;
    }
}